 
#body{
	margin:0;
	
}

#top_menu {
	min-width: 200px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -5px;
}

#bottom_ribbon {
background: white;
height: 50px;
width: 100%;
position: fixed;
bottom: 0;
margin: 0 auto;
border-top: 2px solid #036;
} 
#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
margin:0 auto;
text-align:center;
}
.login_header{
	margin-bottom:4em;
}
.align_center{
	margin:0 auto;
}
.table{
	font-size: 12px !important;
}

.widget-support-tickets .ticket-label {
display: block;
float: right;
font-size: 10px;
line-height: 18px;
margin: 2px 0 0;
padding: 0 5px;
position: relative;
}
.invalid{
	color:red
}

.select2-container{
   border:0px !important;
}

.migration_notification_holder{
	margin-right: 1% !important;
}

#header_menu{
	min-height: 15%;
}

#main_menu_collapse{
	
}

.center_content_holder{
	margin-left:1%;
	margin-right:1%;
}